
* {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            .mySlides {display: none;}
            img {vertical-align: middle;}

        }

        body {
            font-family: 'Angsana New ';
            

        }
        .log
        {
            padding-left: 10px;
            padding-bottom: 40px;
            padding-top: 40px;

        }
        .size
        {
           padding-top: 20px; 
        }

        .navbar {
            font-size: 18px;
            background-image: linear-gradient(260deg, #d147a3 0%, #5f0a87 100%);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
        .container {
  position: relative;
  text-align: center;
  color: black;
  top:10px;
  
}


.centered {
  position: absolute;
  top: 50%;
  left: 45%;
  right: 65%;
  bottom: 50%;
  transform: translate(-50%, -50%);

}
.space{
    padding-left:50px;
    padding-right: 50px;
    font-size: 25px;
}
.gap
{
     font-size: 25px;
    padding-right: 30px;
    padding-left:30px;

}
.open-button {
  
  background-color: #d147a3;
  color: white;
  padding: 10px 20px 5px 20px;
  border: none;
  cursor: pointer;
  position:relative;
  left: 20px;
  text-align: center;

  }

